<!-- views/index.erb -->
<table class="table is-bordered is-narrow is-hoverable is-fullwidth ">
  <thead>
    <tr>
      <th><abbr title="comment">Comment</abbr></th>
      <th><abbr title="timestamp">TimeStamp</abbr></th>
    </tr>
  </thead>

  <tbody>
      <% @comments.each do |comment| %>
       <tr>
         <th><a href="/comment/<%= comment.id %>"><%= comment.title %></a></th>
         <th><%= comment.created_at %></th>
     </tr>
      <% end %>
  </tbody>
</table>


<% if User.exists?(id: session[:user_id]) %>
  <h2>Add Comment</h2>
  <form method="post" action="/comment">
     <label for="title" class="label">Title: </label>
     <input type="text" name="title" class="input" placeholder="e.g MVC in Sinatra Apps">
     <label for="content" class="label">Content: </label>
     <input type="text" name="content" class="input" placeholder="e.g I found the implementation of a MVC style Sinatra app...">
     <input type ="submit" value="Add Comment" class="button">
  </form>
<% else %>

   <a href="/login" class="button is-warning">Login to Add Comments</a>
<% end %>
