<section class="comments_section">
<table class="table is-bordered is-narrow is-hoverable is-fullwidth ">
  <thead>
    <tr>
      <th><abbr title="comment"><p class="has-text-centered">Comment</p></abbr></th>
      <th><abbr title="timestamp"><p class="has-text-centered">TimeStamp</p></abbr></th>
    </tr>
  </thead>

  <tbody>
      <% @comments.each do |comment| %>
       <tr>
         <th><a href="/comment/<%= comment.id %>"><p class="has-text-centered"><%= comment.name %></p></a></th>
         <th><p class="has-text-centered"><%= comment.created_at %></p></th>
     </tr>
      <% end %>
  </tbody>
</table>


<% if User.count(id: session[:user_id]) != 0  %>
  <form method="post" action="/comment">
     <label for="name" class="label">Title: </label>
     <input type="text" name="name" class="input" placeholder="e.g MVC in Sinatra Apps">
     <label for="content" class="label">Content: </label>
     <input type="text" name="content" class="input" placeholder="e.g I found the implementation of a MVC style Sinatra app...">
     <br/><br/>
     <input type ="submit" value="Add Comment" class="button is-success">
  </form>
<% else %>

   <a href="/login" class="button is-warning">Login to Add Comments</a>
<% end %>
<br /><br />
</section>
