<section class="comment_section">
  <a href="/comments" class="button is-warning"> << Comments</a>
<br/><br/>
<div class="card ">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p><strong class="title is-4 has-text-primary"><%= @comment.name.split.map(&:capitalize).join(' ') %></strong> <br />
          <small class="has-text-grey">Created at -></small> <small class="has-text-grey"><%= @comment.created_at %></small></p>

      </div>
    </div>
    <div class="content comment_content "><%= @comment.content %></div>
  </div>
</div>



<br/>
</section>
