<header id="header" >
  <section class="hero is-danger is-bold">
    <div class="hero-body" style="padding: 0px; overflow: auto">
    <h1 class="main_title">Student Information System</h1>
    <img src="/nerd.png" class="image">
    </div>
  </section>
</header><!-- /header -->
