<!-- views/layout.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sinatra Blog</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css.map">
	<link rel="stylesheet" href="/main.css">

</head>
<body >
<div class="wrapper">
		<%= erb :hero %>
		<%= erb :navbar %>

		<section class="yield_section">
		 <%= yield %>
	 </section>

 	</div>
		<%= erb :footer %>
	<script>
	// self executing function here
	(function() {
	   let _path = window.location.pathname.split( '/' );
		 if(_path.includes("about")){
			 document.getElementById("about").classList.add("is-active");
			}
			else if (_path.includes("contact")) {
				document.getElementById("contact").classList.add("is-active");
			}
			else if (_path.includes("students") || _path.includes("student")) {
				document.getElementById("students").classList.add("is-active");
			}
			else if (_path.includes("comments") || _path.includes("comment")) {
				document.getElementById("comments").classList.add("is-active");
			}
			else if (_path.includes("video")) {
				document.getElementById("video").classList.add("is-active");
			}
			else if (_path.includes("login")) {
				document.getElementById("login").classList.add("is-active");
			}
			else if (_path.includes("logout")) {
				document.getElementById("logout").classList.add("is-active");
			}
			else {
				document.getElementById("home").classList.add("is-active");
			}

	})();
	</script>
</body>
</html>
