<h1 class="title is-1">Welcome <%= @user.name %></h1>
<p class="subtitle is-4">Its always good to see you!</p>

<form method="post" action="/logout">
   <input type ="submit" value="Logout" class="button is-danger">
</form>
