<h1 class="title is-3 has-text-primary">Welcome <%= @user.name %></h1>
<p class="subtitle is-4 has-text-dark">Its always good to see you!</p>

<form method="post" action="/logout">
   <input type ="submit" value="Logout" class="button is-danger">
</form>
