<div class="tabs is-centered">
  <ul>
    <li class="is-active">
      <a href="/">
        <span class="icon is-small"><i class="fa fa-home"></i></span>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="/about">
        <span class="icon is-small"><i class="fa fa-info"></i></span>
        <span>About</span>
      </a>
    </li>
    <li>
      <a href="/contact">
        <span class="icon is-small"><i class="fa fa-phone"></i></span>
        <span>Contact</span>
      </a>
    </li>
    <li>
      <a href="/students">
        <span class="icon is-small"><i class="fa fa-graduation-cap"></i></span>
        <span>Students</span>
      </a>
    </li>
    <li>
      <a href="/comments">
        <span class="icon is-small"><i class="fa fa-comment"></i></span>
        <span>Comments</span>
      </a>
    </li>
    <li>
      <a href="/video">
        <span class="icon is-small"><i class="fa fa-video-camera"></i></span>
        <span>Video</span>
      </a>
    </li>

    <% if User.exists?(id: session[:user_id]) %>
    <li>
      <a href="/logout">
        <span class="icon is-small"><i class="fa fa-sign-out"></i></span>
        <span>Logout</span>
      </a>
    </li>
    <% else %>
    <li>
      <a href="/login">
        <span class="icon is-small"><i class="fa fa-sign-in"></i></span>
        <span>Login</span>
      </a>
    </li>
    <% end %>
  </ul>
</div>
