<h2>Signup</h2>
<form method="post" action="/signup">
   <label for="name">Name: </label>
   <input type="text" name="name" class="input">
   <label for="email">Email: </label>
   <input type="text" name="email" class="input">
   <label for="password">Password: </label>
   <input type="password" name="password" class="input">
   <input type ="submit" value="Signup" class="button">
</form>
