<!-- views/index.erb -->
<h2 class="title ">List of Students</h2>
<table class="table is-bordered is-narrow is-hoverable is-fullwidth ">
  <thead>
    <tr>
      <th><abbr title="Table Head">List of Students</abbr></th>
    </tr>
  </thead>

  <tbody>
        <% @students.each do |student| %>
        <tr>
         <th><a href="/student/<%= student.id %>"><%= student.name %></a></th>

       </tr>
      <% end %>
  </tbody>
</table>





<% if User.exists?(id: session[:user_id]) %>
<h2 class="title ">Add Student</h2>
<form method="post" action="/student">
    <label for="name" class="label">Name: </label>
   <input type="text" name="name" class="input" placeholder="e.g Alex Smith">
   <label for="info" class="label">Info: </label>
   <input type="text" name="info" class="input" placeholder="Scheduled to meet at 04:00PM">
   <input type ="submit" value="Add Student" class="button is-success">
</form>
<% else %>

   <a href="/login" class="button is-warning">Login to Add Students</a>
<% end %>
