<% if User.count(id: session[:user_id]) != 0 %>
<h2 class="title ">Add Student</h2>
<form method="post" action="/student">

   <label for="firstname" class="label">First Name: </label>
   <input type="text" name="firstname"  class="input" placeholder="e.g Alex">

   <label for="lastname" class="label">Last Name: </label>
   <input type="text" name="lastname"  class="input" placeholder="e.g Smith">

   <label for="address" class="label">Birthday: </label>
   <input type="number" name="birthday_year"  class="input" placeholder="Year">
   <input type="number" name="birthday_month"  class="input" placeholder="Month">
   <input type="number" name="birthday_day"  class="input" placeholder="Day">

   <label for="address" class="label">Address: </label>
   <input type="text" name="address"  class="input" placeholder="e.g 123 Street, CA">

   <label for="student_id" class="label">Student ID: </label>
   <input type="text" name="student_id"  class="input" placeholder="e.g 12345">

   <label for="extrainfo" class="label">Exra Info: </label>
   <input type="text" name="extrainfo"  class="input" placeholder="e.g The student is a a part of swimming team">

   <input type ="submit" value="Add Student" class="button is-success">
</form>
<% else %>

   <a href="/login" class="button is-warning">Login to Add Students</a>
<% end %>




<br/>
<hr/ >

<table class="table is-bordered is-narrow is-hoverable is-fullwidth ">
  <thead>
    <tr>
      <th><abbr title="Table Head">List of Students</abbr></th>
    </tr>
  </thead>

  <tbody>
        <% @students.each do |student| %>
        <tr>
         <th><a href="/student/<%= student.id %>"><%= student.firstname %>  <%= student.lastname %></a></th>

       </tr>
      <% end %>
  </tbody>
</table>
