html, body {
  height: 100%;
}

body {
  width: 90vw;
  margin: auto;
	display: flex;
	flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;
}
.hero_image{
	display: inline-block;
	height: 256px;
	width: 256px;
	padding: 10px;
	position: relative;
	right: -200px;
	top: 20px;
}

.main_title{
	display: inline-block;
	font-family: 'Crimson Text', serif;
	font-size: 3em;
	margin: auto;
	padding: 10px;
	position: relative;
	top: -80px;
	right: -100px;
}

.inline_block{
  display: inline-block;
}


.student_info_card{
  width: 30vw;
	margin-top: 30px;
}

.yield_section{
	text-align: center;
}

.login_section{
	width: 30%;
	margin: auto;
}
.comments_section{
	width: 50%;
	margin: auto;
}
.comment_section{
	width: 50%;
	margin: auto;
}
.comment_content{
	text-align: left;
}
.students_section{
	width: 30%;
	margin: auto;
}
.student_section{
	width: 30%;
	margin: auto;
}
.field, .control{
  text-align: center;
}
